<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Students REST API</title>
</head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<body>
<h1>Students REST API</h1>
<div class="main-container">
    <div class="student-container">
        <h1 class="text-center">Информация о студенте</h1>
            <div class="student-info d-flex flex-column align-items-center gap-2 ">
                <label>
                    Имя:<br>
                    <input type="text" id="first_name" required>
                </label>
                <label>
                    Фамилия:<br>
                    <input type="text" id="last_name">
                </label>
                <label>
                    Отчество:<br>
                    <input type="text" id="fathers_name">
                </label>
                <label class="">
                    Дата рождения:<br>
                    <input type="date" id="birth_date">
                </label>
                <label>
                    Группа:<br>
                    <input type="text" id="group_name">
                </label>
                <input type="submit" id="createStudent" value="Создать" class=""/>
            </div>
    </div>

    <div id="students" class="">
        <table >
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Группа</th>
            </tr>
            </thead>
            <tbody id="students_table_content">

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>